/*Reseteo Universal*/
*{
  padding: 0;
  margin: 0;
}

/*Estilos General*/

body{
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Estilos del jumbotron*/
.container .jumbotron{
  margin-top: 20px;
/*  background-image: url(../images/greenBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
  height: 560px;
}

.container .jumbotron a{
  margin-right: 15px;
}

/*
.jumbotron h1, p{
  color: #fff;
}
*/

/*Estilos de la Barra de navegacion*/

.cintillo{
  width: 960px;
  margin: auto;
}

.navbar{
  max-width: 100%;
  background: #2d5908;
  box-shadow: 5px 5px 10px;
}

.navbar .lista-menu, .lista-li, .redes-sociales{
  max-width: 960px;
  margin: auto;
  display: flex;
  list-style: none;
}

.dropdown .dropdown-menu{
  background: #4e8e15;
}

.dropdown .dropdown-menu li a:hover{
  background: #76bf37;
  color: #333333;
  transition: 0.3s;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}*/

#barra{
  display: none;
}

#barra{
  background: #2d5908;
  color: #fff;
}

#barra button:hover{
  background: #5ba062;
}

#barra button:active{
  background: #5ba062;
}

#barra button:focus{
  background: #5ba062;
  color: #fff;
}

#inicio .dropdown .dropdown-menu .dropdown-submenu a:focus{
  background: #76bf37;
}

#barra #myNavbar ul li a{
  color: #fff;
}

#barra #myNavbar ul li a:focus{
  background: #5ba062;
}



.navbar .lista-menu li a{
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
}

.navbar .lista-menu .titulo-menu a{
  font-size: 7px;
  width: 320px;
}

.navbar .lista-menu .lista-li li a:hover{
  color: #5ba062;
  transition: 0.5s;
}

.navbar .lista-menu .lista-li .redes-sociales{
  margin-left: 80px;
}

.navbar .lista-menu .lista-li .redes-sociales li a{
  padding: 2px 5px;
}

.navbar .lista-menu .lista-li .redes-sociales li .icon-facebook:hover{
  color: #556efc;
  transition: 0.5s;
}
.navbar .lista-menu .lista-li .redes-sociales li .icon-twitter:hover{
  color: #54cdf9;
  transition: 0.5s;
}

.navbar .lista-menu .lista-li .redes-sociales li .icon-instagram:hover{
  color: #968554;
  transition: 0.5s;
}

.navbar .lista-menu .lista-li .dropdown button{
  display: none;
}

/* Estilos del footer*/

.footer{
  margin-top: 180px;
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon"]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
    margin: 20px;
}

.footer .social [class^="icon"]:hover{
	background: rgba(0,0,0,0.5);
}

.footer .social .icon-facebook:hover{
  color: #556efc;
}

.footer .social .icon-twitter:hover{
  color: #54cdf9;
}
.footer .social .icon-gplus:hover{
  color: #E62117;
}
.footer .social .icon-instagram:hover{
  color: #968554;
}

.informacion-footer{
  width: 100%;
}

.informacion-footer .colasd{
	width: 360px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 20px;
  margin-right: 120px;
  margin-top: 150px;
  margin-bottom: -60px;
  box-shadow: 5px 5px 10px;
}

.informacion-footer .colasd h2{
	color: #2D5908;
}

/* estilos del info-universidad*/

.info-universidad{
  width: 100%;
  background: #333333;
  color: #ffffff;
  padding: 50px;
  margin-top: -30px;
}

/**/

 .logo{
  width: 100%;
  background: #fff;
  margin-bottom: -180px;
  padding-top: 20px;
  display: flex;
}

.logo .container .row .col{
  float: left;
  margin-right: 80px;
}

.logo .container .row .col .facultad{
  margin-top: 20px;
}

/* estilos del panel mision*/

.panel{
  width: 600px;;
  margin: auto;
  box-shadow: 10px 10px 5px #333;
}

.panel .panel-body{
  width: 600px;
  margin: auto;
  box-shadow: 10px 10px 5px #333;
}

/* container pagina */

section article{
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px;
  padding: 20px;
}

section aside{
  box-shadow: 5px 5px 10px;
  padding: 10px;
  background: #2D5908;
  color: #fff;
}

section aside .list-group a:hover{
  background: #5b912b;
  color: #fff;
  transition: 0.5s;
}

section .row article table{
  width: 700px;
}

@media(max-width: 600px){
  section .row article table{
    width: 300px;
  }

  .logo .container .row .col img{
    display: none;
  }

  .navbar{
    display: none;
  }

  #barra{
    display: block;
  }

  .cintillo img{
    width: 400px;
  }

  .container .jumbotron .titulo-jumbotron{
    font-size: 17px;
  }

  .container .jumbotron p{
    font-size: 12px;
  }

  #myModal{
    width: 350px;
  }

  .footer .social [class^="icon"]{
    width: 40px;
    height: 40px;
    font-size: 25px;
  }


  #panel, #panel1{
    width: 320px;
  }

}

.container .jumbotron h1{
  font-size: 35px;
}

/**/

.main .row .posts .tira{
  width: 100%;
  height: 20px;
  background: #2d5908;
  box-shadow: 2px 2px 5px;
  padding: 10px;
}

/*.main{
  float: left;
}*/

.main aside{
  padding: 0px;
  width: 260px;

}
